/* first page styling */
.landing{
    background-color: #f1b6d4;
    padding-bottom: 30px;
}

.motto{
    font-family: 'Kalam' , cursive;
    font-weight: 700;
    font-size: 100px;
}

.mottotxt{
    font-family: 'Kalam';
    font-size: 50px;
    color: blue;
}

.login h5{
    font-family: 'Kalam' , cursive;
    font-size: 30px;
    margin-bottom: 30px;
    color: crimson;
}

/* pizza order page styles */