/* first page styling */
.landing{
    background-color: #f1b6d4;
    padding-bottom: 30px;
}

.motto{
    font-family: 'Kalam' , cursive;
    font-weight: 700;
    font-size: 100px;
}

.mottotxt{
    font-family: 'Kalam';
    font-size: 50px;
    color: blue;
}

.login h5{
    font-family: 'Kalam' , cursive;
    font-size: 30px;
    margin-bottom: 30px;
    color: crimson;
}

/* pizza order page styles */
#menu{
    font-family: 'Kalam' , cursive;
    font-weight: 700;
}

.card{
    overflow: hidden;
}

.card-title{
    font-family: 'Kalam';
    font-size: 30px;
    color: darkred;
}

#pizzatitle{
    font-family: 'Kalam';
    font-family: 700;
    font-weight: 800;
    color: darkred;
}

.toppings p{
    font-family: 'Kalam' , cursive;
    font-weight: 700;
}

.theInputs label{
    font-family: 'Kalam';
    font-weight: 700;
}

.theInputs input{
    margin: 15px;
}

.checking-out{
    margin-top: 15px;
    margin-bottom: 15px;
}

.checking-out h4{
    font-weight: 700;
}